@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@400;500;600;700&display=swap');

:root {
  --main-green: #00E467;
  --main-black: #212121;
  --screen-size-lg: var(1920px);
  --color-grey: rgba(242, 242, 242, 0.5);
}
body {
  background-color: var(--main-black);
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif !important;
  font-size: 16px;
  height: 100vh;
}
.bg-slate-800 {
  background-color: #8ADDB0;
}
.connectWallet-btn {
  background: var(--main-green);
  border-radius: 20px;
  color: var(--color-black);
  text-align: center;
  align-items: center;
  justify-content: justify-center;
  padding: 5px 10px;
}
.dapp-bg {
  background-image: url("./assets/Glass.png");
box-shadow: inset -5px -5px 250px rgba(255, 255, 255, 0.02);
backdrop-filter: blur(42px);
}
.submenu-bg {
  background-image: url("./assets/Glass1.png");
  height: 89vh;
}

.profile-change {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #F2F2F2 0.25;
}
.profile-change input {
  background: #F2F2F2 0.25;
}
.profile-change textarea {
  background: #F2F2F2 0.25;
}
.profile-change::placeholder {
  
}
.btn-send {
  background: var(--main-green);
}
.secondary-button {
  border: 2px solid var(--main-green);
  font-size: 22px;
  justify-content: center;
  line-height: 27px;
  display: flex;
  text-align: center;  
  color: var(--main-green);
  border-radius: 23.5px;
  padding: 5px 10px;
}


.side-menu-enter {
  position: absolute;
  transform: translateX(-110%);
}
.side-menu-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.side-menu-exit {
  position: relative; 
}
.side-menu-exit-active { 
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}
.sub-menu {
  height: 100vh;
}
.sub-menu-enter {
  transform: translateX(-110%);
}
.sub-menu-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.sub-menu-exit {
  /* position: absolute;  */
}
.sub-menu-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}


.dapp-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
}
.chat-layout {
  width: 70vw;
}
.input-friends {
  background: rgba(242, 242, 242, 0.25);
  border-radius: 22px;
  padding: 5px 10px;
}
.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--color-grey);
  margin: 0 15px;
}
.side-menu img {
  width: 50px;
  height: 50px;
}
.side-menu li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}
.side-menu-items li:hover {
  list-style: none;
  position: relative;
  /* border-left: 5px solid #00E467; */
  border-radius: 6px;
}
/* .side-menu-items li a:hover {
  list-style: none;
}
.side-menu-items li a:active {
  list-style: none;
  padding: 10px 0px;
}*/
.submenu { 
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--color-grey);
  font-size: 20px;
  margin: 0 15px;
  /* display: block; */
  height: auto;
  /* overflow: hidden; */
  width: 400px;
  position: relative;
  }
.toggle-mode li {
  display: flex;
  flex-direction: row-reverse;
}
.services-submenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align:left;
}
/* .services-submenu li {
  display: flex;
  flex-direction: row;
  width: auto;
} */
.services-submenu li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  }
.services-submenu li a span:hover {
list-style: none;
border-left: 5px solid #00E467;
border-radius: 6px;
}
.services-submenu li a span {
  display: flex;
  flex-direction: row;
  width: 20vw;
}
.avatar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.avatar img {
    width: 133.63px;
    height: 133.63px;
    left: 894px;
    top: 307.51px;
    background: #212121;
    border-radius: 25px;
}
/* .side-menu > .submenu .services-submenu li {
  display: flex;
  position: absolute;
  flex-direction: row;
  left: 500px;
  right: 100%;
}
.sub-menu .services-submenu li:active {
  display: flex;
  position: absolute;
  flex-direction: row;
  left: 500px;
  right: 100%;
}
.sub-menu .services-submenu li:hover {
  display: flex;
  position: absolute;
  right: 100%;
  left: 500px;
  flex-direction: row;
} */
.messages-btn, .addfriend-btn, .settings-btn, .group-btn {

}
.messages-btn {
  background: url("./assets/messages.svg") no-repeat center center;
}
.messages-btn:hover {
  background: url("./assets/messages2.svg") no-repeat center center;
}
.addfriend-btn {
  background: url("./assets/addFriend.svg") no-repeat center center;
}
.addfriend-btn:hover, .addfriend-btn:active {
  background: url("./assets/addFriend2.svg") no-repeat center center;
}
.settings-btn {
  background: url("./assets/settings.svg") no-repeat center center;
}
.settings-btn:hover {
  background: url("./assets/settings2.svg") no-repeat center center; 
}
.group-btn {
  background: url("./assets/group.svg") no-repeat center center;
}
.group-btn:hover {
  background: url("./assets/group2.svg") no-repeat center center;
}