@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-green: #00E467;
  --main-black: #212121;
  --screen-size-lg: var(1920px);
  --color-grey: rgba(242, 242, 242, 0.5);
}
body {
  background-color: var(--main-black);
}
.bg-slate-800 {
  background-color: #8ADDB0;
}
.connectWallet-btn {
  background: var(--main-green);
  border-radius: 20px;
  color: var(--color-black);
  text-align: center;
  align-items: center;
  justify-content: justify-center;
  padding: 5px 10px;
}
.dapp-bg {
  background-image: url("./assets/Glass.png");
}
.btn-send {
  background: var(--main-green);
}
.secondary-button {
  border: 1px solid var(--main-green);
  color: var(--main-green);
  border-radius: 20px;
  padding: 5px 10px;
}
.input-friends {
  background: rgba(242, 242, 242, 0.25);
  border-radius: 22px;
  padding: 5px 10px;
}
.side-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--color-grey);
  margin: 0 15px;
  width: 1000px;
}
.side-menu img {
  width: 50px;
  height: 50px;
}
.side-menu li {
  list-style: none;
  padding: 15px 0px;
}
.side-menu-items img {
  list-style: none;
  padding: 10px 0px;
}
.side-menu-items img:hover {
  list-style: none;
  padding: 10px 0px;
  border-left: 5px solid #00E467;
  border-radius: 6px;
}
.side-menu-items img:active {
  list-style: none;
  padding: 10px 0px;
  border-left: 5px solid #00E467;
  border-radius: 6px;
}
.submenu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--color-grey);
  font-size: 20px;
  margin: 0 15px;
  /* display: block; */
  height: auto;
  /* overflow: hidden; */
  width: 400px;
  position: relative;
  }
.toggle-mode li {
  display: flex;
  flex-direction: row-reverse;
}
.services-submenu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 400px;
  top:0;
  right: 100%;
}
/* .services-submenu li {
  display: flex;
  flex-direction: row;
  width: auto;
} */
.services-submenu li a {
  display: flex;
  flex-direction: row-reverse;
  }
.services-submenu li a span:hover {
list-style: none;
border-left: 5px solid #00E467;
border-radius: 6px;
}
.services-submenu li a span {
  display: flex;
  flex-direction: row;
  width: 400px;
}
/* .side-menu > .submenu .services-submenu li {
  display: flex;
  position: absolute;
  flex-direction: row;
  left: 500px;
  right: 100%;
}
.sub-menu .services-submenu li:active {
  display: flex;
  position: absolute;
  flex-direction: row;
  left: 500px;
  right: 100%;
}
.sub-menu .services-submenu li:hover {
  display: flex;
  position: absolute;
  right: 100%;
  left: 500px;
  flex-direction: row;
} */
.messages-btn, .addfriend-btn, .settings-btn, .group-btn {

}
.messages-btn {
  background: url("./assets/messages.svg") no-repeat center center;
}
.messages-btn:hover {
  background: url("./assets/messages2.svg") no-repeat center center;
}
.addfriend-btn {
  background: url("./assets/addFriend.svg") no-repeat center center;
}
.addfriend-btn:hover, .addfriend-btn:active {
  background: url("./assets/addFriend2.svg") no-repeat center center;
}
.settings-btn {
  background: url("./assets/settings.svg") no-repeat center center;
}
.settings-btn:hover {
  background: url("./assets/settings2.svg") no-repeat center center; 
}
.group-btn {
  background: url("./assets/group.svg") no-repeat center center;
}
.group-btn:hover {
  background: url("./assets/group2.svg") no-repeat center center;
}